---
layout: default
---

<!-- Main Heading -->
<div class="title-heading">
	<h2>Latest Posts</h2>
</div>

<!-- Main Content -->
{% for post in paginator.posts %}
<div id="main">
	<div class="row">
		<div id="content" class="12u">
{% if post.image %}
			<a href="{{ post.url | prepend: site.baseurl }}" class="image featured">
				<img src="{{ post.image }}" />
			</a>
{% endif %}
			<header>
				<div class="post-meta">
					{{ post.date | date: "%b %-d, %Y" }}
					/ <a href="{{ post.url | prepend: site.baseurl }}" class="link"><i class="fa fa-anchor"></i></a></span>
				</div>
				<h2>
{% if post.link %}
		<a href="{{ post.link }}" class="link">{{ post.title }} <span class="link-arrow">&rarr;</span></a></h1>
{% else %}
		<a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
{% endif %}
				</h2>
				<hr />
			</header>
			<article>
				{{ post.content }}
			</article>
		</div>
	</div>
</div>
<br />
{% endfor %}
<div id="main" class="pt10px">
	<div class="pagination">
		{% if paginator.next_page %}
			<a class="pagination-item older" href="/page{{paginator.next_page}}">Older</a>
		{% else %}
			<span class="pagination-item older">Older</span>
		{% endif %}
		{% if paginator.previous_page %}
			{% if paginator.page == 2 %}
				<a class="pagination-item newer" href="/">Newer</a>
			{% else %}
				<a class="pagination-item newer" href="/page{{paginator.previous_page}}">Newer</a>
			{% endif %}
		{% else %}
			<span class="pagination-item newer">Newer</span>
		{% endif %}
	</div>
</div>
<!-- Main Content -->