---
layout: default
---
<!-- Main Heading -->
<div class="title-heading">
{% if page.link %}
	<h1 class="post-title"><a href="{{ page.link }}" class="link">{{ page.title }} <span class="link-arrow">&rarr;</span></a></h1>
{% else %}
	<h2>{{ page.title }}</h2>
{% endif %}
	<p>
		<span class="post-meta">{{ page.date | date: "%b %-d, %Y" }}</span>
	</p>
</div>

<!-- Main Content -->
<div id="main">
	<div class="row">
		<div id="content" class="12u">
{% if page.image %}
			<span class="image featured">
				<img src="{{ page.image }}" />
			</span>
{% endif %}
			<article>
			{{ content }}
			</article>
		</div>
	</div>
</div>